<!--
<div class="container" style="padding:20px;">
	<h1 style="text-align:center;">
		<a href="/book/index"> index Libros </a>
	</h1>
	<hr>
  <main>
  <router-outlet></router-outlet>
  </main>
</div>

--->
<html lang="es">
	<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Libreria</title>
  </head>

  <body>

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
		<h5 class="my-0 mr-md-auto font-weight-normal">Libreria</h5>
		<nav class="my-2 my-md-0 mr-md-3">
		  <a class="p-2 text-dark" href="/book/index">Listado</a>
		</nav>
		
	</div>

    

    <div class="container">
     
		<main>
			<router-outlet></router-outlet>
		</main>
      
    </div>

  

</body>
</html>



  